*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


@keyframes moveBannerP{
    0%{
        transform: translateY(30rem) rotateY(-60deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}


